* {
    margin: 0;
    padding: 0;
}

/* #gameContainer {
    position: relative;
} */

.map {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    margin: auto;
    /* position: absolute;
    top: 0;
    left: 0; */
}

/* .black-map {
    position: absolute;
    top: 0;
    left: 0;
}

.white-map {
    position: absolute;
    top: 0;
    left: 0;
} */

.tile {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 48px;
    height: 48px;

    background-color: white;
    border: solid 1px cornflowerblue;

}

.tile:hover{
    cursor: pointer;
    background-color: cornflowerblue;
}

h1{
    text-align: center;
    margin: 10% 0 20px 0;
}

#btn-container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}